.map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    transition: opacity 150ms ease-in;
    margin-top: 22%;
  }

.map.visible {
    opacity: 1;
}