<br><br><br><br>
<ion-content class="backfondent" [fullscreen]="true">
<br><br><br>
<div class="glass-content">

<ion-button (click)="toggleReorder()"> Ordenar mis Comercios </ion-button>

<!-- sliding mercado favorito-->
<ion-col class="ion-text-center">
<ion-card>
    <ion-card-header>
    <ion-card-title>Comercios Favorito</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <ion-list>

  <ion-reorder-group [disabled]="isDisabled" (ionItemReorder)="handleReorder($any($event))">

  <ion-item-sliding>
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="play()">Más</ion-item-option>
    </ion-item-options>

    <ion-item>
        <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      <ion-label> El Chapo </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item-options (click)="toggleIcon()">
      <ion-item-option ><ion-icon slot="bottom" [name]="icon" ></ion-icon>
      {{ icon === 'heart-outline' ? 'Agregar' : 'Quitar'}}
      </ion-item-option>
      <ion-item-option  (click)="play1()"color="danger">
        <ion-icon slot="bottom" name="trash"></ion-icon>
        Delete
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="play()">Más</ion-item-option>
    </ion-item-options>

    <ion-item>
        <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      <ion-label> Acuenta </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item-options (click)="toggleIcon()">
      <ion-item-option ><ion-icon slot="bottom" [name]="icon" ></ion-icon>
      {{ icon === 'heart-outline' ? 'Agregar' : 'Quitar'}}
      </ion-item-option>
      <ion-item-option  (click)="play1()"color="danger">
        <ion-icon slot="bottom" name="trash"></ion-icon>
        Delete
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="play()">Más</ion-item-option>
    </ion-item-options>

    <ion-item>
        <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      <ion-label> LaEsquina </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item-options (click)="toggleIcon()">
      <ion-item-option ><ion-icon slot="bottom" [name]="icon" ></ion-icon>
      {{ icon === 'heart-outline' ? 'Agregar' : 'Quitar'}}
      </ion-item-option>
      <ion-item-option  (click)="play1()"color="danger">
        <ion-icon slot="bottom" name="trash"></ion-icon>
        Delete
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="play()">Más</ion-item-option>
    </ion-item-options>

    <ion-item>
        <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      <ion-label> ElBajon </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item-options (click)="toggleIcon()"> 
      <ion-item-option ><ion-icon slot="bottom" [name]="icon" ></ion-icon>
      {{ icon === 'heart-outline' ? 'Agregar' : 'Quitar'}}
      </ion-item-option>
      <ion-item-option  (click)="play1()"color="danger">
        <ion-icon slot="bottom" name="trash"></ion-icon>
        Delete
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  </ion-reorder-group>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-col>

</div>
</ion-content >