<br><br>
<ion-content class="backfondent" [fullscreen]="true">
<br><br><br>

<div style=" margin: 10px;">
<ion-button color="dark" (click)="nuevo()">Nuevo </ion-button>
</div>

<div *ngIf="enableNewc">
<div style="text-align: end" >
  <ion-button  color="dark" (click)="enableNewc = false" >
    <ion-icon slot="icon-only"   name="close"></ion-icon>
  </ion-button>          
</div>

<ion-card>
<ion-card-header>
<ion-card-title>Subir Nuevo Mercado</ion-card-title>
</ion-card-header>
  <ion-card-content>
    <form >


      <ion-item lines="full">
        <ion-label position="floating">Nombre del Mercado :</ion-label>
        <ion-input [(ngModel)]="newm.nombremer" name="nombremer"  ></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Tipo de Mercado :</ion-label>
        <ion-input [(ngModel)]="newm.tipomer" name="tipomer"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Comuna del Mercado :</ion-label>
        <ion-input [(ngModel)]="newm.comunamer" name="comunamer"></ion-input>
      </ion-item>
            
      <ion-item lines="full">
        <ion-label position="floating">Descripcion del Mercado :</ion-label>
        <ion-input [(ngModel)]="newm.descripcion" name="descripcion" ></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label>Foto :</ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <input (change)="newImageUpload($event)" type="file" accept="image/*">
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Ubicacion</ion-label>
        <ion-input [(ngModel)]="newm.ubicacion" name="ubicacion" ></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button (click)="guardarComentario()" color="danger" >Agregar Comentario</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card-content >
</ion-card>
</div>

<ion-card >
  <ion-card-header>
    <ion-card-title>Todos sus comercios agregados</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let m of mercados">
          <ion-label>Nombre de Mercado : {{m.nombremer}}</ion-label>
          <ion-label>Tipo de Mercado :{{m.tipomer}}</ion-label>
          <ion-label>Comuna de Mercado : {{m.comunamer}}</ion-label>
          <ion-label>Descripcion : {{m.descripcion}}</ion-label>
          <ion-label>Ubicacion : {{m.ubicacion}}</ion-label>
          <ion-label>Foto :</ion-label>

          
          <ion-button (click)="newm = m; enableNewc = true;" >
            <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
          </ion-button>

          <ion-button (click)="deleteComentario(m)">
            <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
          </ion-button>

      </ion-item> 

    </ion-list>
  
  </ion-card-content>
</ion-card>
<img [src]="newI">
</ion-content>