<ion-content [fullscreen]="true">
<ion-card>
  <ion-col  size="12">
  <ion-card-header>
    <ion-card-title>Modificar Mercado</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-label position="floating">Nombre del Mercado</ion-label>
    <ion-input [(ngModel)]="mercado.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tipo de Mercado</ion-label>
    <ion-input [(ngModel)]="mercado.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Comuna del Mercado</ion-label>
    <ion-input [(ngModel)]="mercado.tipo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pais del Mercado</ion-label>
    <ion-input [(ngModel)]="mercado.pais"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Coordenada de Mercado</ion-label>
    <ion-input [(ngModel)]="mercado.coordenada"></ion-input>
  </ion-item>
<ion-row>
  <ion-col size="6">
    <ion-button  expand="block" (click)="updateMercado()" color="success" shape="round">
      Guardar Cambios
    </ion-button>
  </ion-col>
  
</ion-row>
</ion-col>
</ion-card>
</ion-content>
