#color{
    color:black;
}

/*#card{
    left: 10%;
    max-height: 40%;
    max-width: 80%;
    top: 30%;
    position: center;
    justify-content: center;
    align-items: center;
}*/
#absolute{
    align-items: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%S);
}