
<ion-content class="background" [fullscreen]="true">
<div class="ion-padding-vertical" id="absolute">
  <ion-card id="card" class="ion-text-center">
  <br>
    <ion-card-title>
      <h3 id="color" >Modificar Noticia</h3>
    </ion-card-title>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating"><h2 id="color">Titulo</h2></ion-label>
        <ion-input type="text" [(ngModel)]="tituloNoticia"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="floating"><h2 id="color">Texto Noticia</h2></ion-label>
        <ion-input type="text" [(ngModel)]="textoNoticia"></ion-input>
      </ion-item>
    </ion-card-content>
    <br><br>
    <ion-button shape="block" (click)="editar()">Guardar Noticia</ion-button>
  </ion-card>

</div>
</ion-content>
