<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background"[fullscreen]="true">

<ion-searchbar (ionInput)="getItem($event)"></ion-searchbar>

  <ion-card>
    <ion-card-header>
      <h3 id="h3" >Base de Datos SQL</h3>
    </ion-card-header>

    <ion-card-content>      
      <ion-list>

        <ion-item-sliding *ngFor="let item of noticias">
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/icon/favicon.png">
            </ion-avatar>

            <ion-label>
              <h2>{{ item.titulo }}</h2>
              <!-- word-wrap para los cortes entre palabras  white-space para que aparezca todo el texto en varias lineas y no se corte-->
              <p style="word-wrap: break-word; white-space: normal;">{{ item.texto }}</p>
            </ion-label>

          </ion-item>
          <!-- El error era que el evento click se lo puse al icono y no al boton completo -->
          <ion-item-options side="end">
            <ion-item-option (click)="editar(item)">
              <ion-icon name="create" ></ion-icon> Editar
            </ion-item-option>
            <ion-item-option color="danger" (click)="eliminar(item)">
              <ion-icon name="trash"></ion-icon> Eliminar
            </ion-item-option>
          </ion-item-options>


          <ion-item>
            <ion-avatar item-start>
              <img src="assets/icon/favicon.png">
            </ion-avatar>

            <ion-label>
              <h2>{{ item.titulo }}</h2>
              <!-- word-wrap para los cortes entre palabras  white-space para que aparezca todo el texto en varias lineas y no se corte-->
              <p style="word-wrap: break-word; white-space: normal;">{{ item.texto }}</p>
            </ion-label>

          </ion-item>
          <!-- El error era que el evento click se lo puse al icono y no al boton completo -->
          <ion-item-options side="end">
            <ion-item-option (click)="editar(item)">
              <ion-icon name="create" ></ion-icon> Editar
            </ion-item-option>
            <ion-item-option color="danger" (click)="eliminar(item)">
              <ion-icon name="trash"></ion-icon> Eliminar
            </ion-item-option>
          </ion-item-options>
          
          
      </ion-item-sliding>
     </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/reg-item']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>