#im{
    max-width: 3cm;
    max-height: 2.5cm;
    text-align: center;
   
  }
#with{
  background-color:aliceblue;
}
#head{
  height: 10%;
  color:transparent !important;

}
#n{
  background-color:transparent;
}

ion-col {
  color: #fff !important;
  bottom: -10px !important;
}